/* Light2.css */

/* Overall Page Styling light2 */
.light2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #f8addb, #ffffff); /* Light Pink Gradient */
  min-height: 100vh;
  position: relative;
}

/* Content Section */
.light2-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  margin-top: 2rem;
}

/* Section Title */
.light2-section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ef77a7;
  text-align: center;
  margin-bottom: 2rem;
}

/* Subsection Title */
.light2-subsection-title {
  font-size: 2rem;
  font-weight: bold;
  color: #f44781;
  margin-bottom: 1.5rem;
}

/* Download PDF Button */
.light2-download-button {
  background-color: #ffd700;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.light2-download-button:hover {
  background-color: #ffcc00;
}

/* Next Page Button */
.light2-next-page-button {
  background-color: #ff3399;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.light2-next-page-button:hover {
  background-color: #ff007f;
}

/* History Section */
.light2-history-section {
  margin-top: 2rem;
}

.light2-history-text {
  width: calc(82% - 1rem); /* Adjust width for better spacing */
  margin: 1.5rem;
  margin-bottom: 2rem; /* Increased margin between boxes */
  padding: 1rem;
  background-color: #ffccff;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensuring text size and color consistency */
.light2-history-text p {
  font-size: 1.1rem;
  color: #333333;
}

/* Text alignment classes */
.light2-left {
  margin-right: auto;
}

.light2-right {
  margin-left: auto;
}

.light2-center {
  margin: 0 auto;
}

/* Notable Figures */
.light2-notable-figures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.light2-figure {
  text-align: center;
  margin: 1.5rem;
  margin-bottom: 2rem; /* Increased margin between boxes */
  padding: 1rem;
  background-color: #ffccff;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.light2-figure:hover {
  transform: scale(1.05);
}

.light2-figure-image {
  width: 100%;
  border-radius: 0.75rem;
}

.light2-figure-caption {
  margin-top: 1rem;
}

.light2-figure-name {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ff66cc;
}

.light2-figure-description {
  font-size: 1rem;
  color: #333333;
}
